mixin slider()
  section.slider
    div.slider__wrapper
      img.slider__cover(src='')
      h1.slider__title Для поклонников сериала «Симпсоны» и для всех, кому интересна математика
      p.slider__subtitle Новое поступление книги «Симпсоны  и их математические секреты»
      a.slider__link Хочу узнать больше о книге
    div.slider__controllers
      label.slider__next К следующему
      label.slider__prev К предыдущему
      
    
