// В этом файле должны быть стили для БЭМ-блока promo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo {

  $block-name:                &; // #{$block-name}__element

  &__navigation {
    background-color: $border;
    margin: 0;
    padding: 0;
    padding-left: 31px;
    padding-top: 19px;
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__section {
    font-size: $font-size--md;
    line-height: 1;

    a {
      padding-right: 30px;
      color: $text-color;
      text-decoration: none;
    }

    a.active {
      position: relative;
      color: $link;

      &::after {
        content: '';
        position: absolute;
        width: 31px;
        height: 2px;
        background-color: $third-color;
        bottom: -20px;
        left: 0px;
      }
    }
  }

  &__cards {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    background-color: $background;
  }

  &__card {
    margin-bottom: 50px;
  }

  &__pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
