mixin page-header()
  header.page-header
    div.page-header__wrapper
      img.page-header__logo(src='img/logo.svg')
      span.page-header__time с 9:00 до 19:00
    nav.page-header__navigation
      ul.page-header__main-nav
        li.page-header__nav-link Книги
        li.page-header__nav-link Рекомендации
        li.page-header__nav-link Контакты
      ul.page-header__user-nav
        li.page-header__cart
        li.page-header__phone
        li.page-header__menu
      
