mixin services()
  section.services
    h2.services__title Доставим в любое место
    h3.services__subtitle //ну почти в любое
    ul.services__items
      li.services__item.services__item--types
        p.services__desc Покупаете книги на сайте в любимом формате - бумажные, электронные или аудио
      li.services__item.services__item--delivery
        p.services__desc Бесплатно доставляем заказы от 3000 по всей России
      li.services__item.services__item--gift
        p.services__desc Мы подарим вам "Набор читателя" и добавим в посылку
      li.services__item.services__item--sities
        p.services__desc Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу - бесплатно
        
