mixin page-footer()
  footer.page-footer
    div.page-footer__wrapper
      img.page-footer__logo(src='')
      span.page-footer__time с 9:00 до 19:00
    ul.page-footer__menu
      li.page-footer__item
        a(href='') Книги
      li.page-footer__item
        a(href='') Рекомендации
      li.page-footer__item
        a(href='') Контакты
