mixin information()
  section.information
    h2.information__title Мы открыли для вас уютную библиотеку
    h3.information__subtitle Приходите к нас по адресу Никитская 10, каждый день с 12:00 до 18:00
