extends templates/layout-inner.pug

block meta
  title Book Store
  meta(name='description', content='It is the coolest book store you ever seen. Trust me Im the Doctor!')

block page-header
  +page-header()


  
block newBooks
  +newBooks()
  
block information
  +information()
  
block page-footer
  +page-footer()
