extends templates/layout-home.pug

block meta
  title Book Store
  meta(name='description', content='It is the coolest book store you ever seen. Trust me Im the Doctor!')

block page-header
  +page-header()

block slider
  +slider()
  
block promo
  +promo()
  
block services
  +services()
  
block newBooks
  +newBooks()
  
block page-footer
  +page-footer()
