mixin newBooks()
  section.new-books
    h1.new-books__title Наши новинки
    a.new-books__link(href='#') Все новинки
    ul.new-books__items
      li.new-books__item
          +card('','Латеральная логика', 'Головоломный путь к нестандартному мышлению', '')
          +card('','Путеводитель по лжи','Критическое мышление в эпоху постправды','630')
          +card('','Дао физики','Исследование параллелей между совеременной физикой и восточной философией','560')
          +card('','Не очевидно','Как выявлять тренды раньше других','365')
